/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2014, 11:31:39 AM
    Author     : cretu
*/

.header_control_v3 .logo {
    float: left;
    width: 167px;
}

.header_control_v3 #access {
    float: left;
    margin-left: 60px;
}
.header_social.header_social_v3 {
    float: right;
    width: auto;
    margin-right: 25px;
}
@media only screen and (max-width: 1230px) {
    .header_control_v3 #access {
        float: right;
        margin-left: 0px;
}
}
@media only screen and (max-width: 959px) {
    .header_social.header_social_v3 {
        float: none;
        margin: 0 auto;
        width: 100px;
    }
    .header_control_v3 .logo {
        width: 100%;
    }
}


.header_control_v4 {
    background-color: #fff;
}
.header_control_v4 .logo {
    float: left;
    width: 167px;
    margin-top: 22px;
}
.header_social.header_social_v4 {
    float: right;
    margin-top: 28px;
    margin-left: 0px;
    width: auto;
    margin-right: 10px;
}
.header_control_v4 #access {
   width: 960px;
   margin: 0 auto;
   float: left;
   margin-top: -15px;
}

.header_control_v4 #access ul ul {
    margin-top: 0px!important;
}

.branding_fixed .header_control_v4 #access {
    margin-top: 12px;
    float: right;
    width: auto;
}

.branding_fixed .header_control_v4 #access ul ul{
    top: 48px;
}
.branding_fixed .header_control_v4 .header_social {
    display: none;
} 
.header_control_v4 #mobile_display {
    margin-top: 20px;
}
@media only screen and (max-width: 1135px) {
    .header_control_v4 .header_social{
        display: block;
    }
}
@media only screen and (max-width: 959px) {
    .header_social.header_social_v4 {
        float: none;
        margin: 0 auto;
        width: 100px;
    }
    .branding_fixed .header_control_v4 .header_social {
        display: block;
    } 
    .header_control_v4 .logo {
        width: 100%;
        margin-bottom: 20px;
    }
}


.header_control_v5 #access {
    margin-top: 13px;
    width: auto;
    float: left;
}

.header_control_v5 #access ul ul {
    margin-top: 0px!important;
}
.header_control_v4 #access ul a,
.header_control_v5 #access ul a{
    padding-bottom: 23px;
    padding-top: 10px; 
}
.header_control_v4 #access ul ul a,
.header_control_v5 #access ul ul a {
    padding-bottom: 10px;
    padding-top: 10px; 
}
.header_control_v5 .header_social {
    margin-top: 18px;
    height: 35px;
    float: right;
    width: auto;
    margin-right: 10px;
} 
.header_control_v2 .logo,
.header_control_v5 .logo {
   float: none;
   padding-top: 22px;
   margin: 0px auto;
}
.branding_fixed .header_control_v2 .logo,
.branding_fixed .header_control_v5 .logo {
    float: left;
    left: 0;
    margin: 0;
    padding-top: 10px;
}
.branding_fixed .header_control_v5 #access {
    margin-top: 12px;
    float: right;
}
.branding_fixed .header_control_v5 #access ul ul {
    top: 48px;
}
.branding_fixed .header_social_5.header_social {
    display: none;
} 
.header_control_v5 #mobile_display {
    margin-top: 20px;
}
@media only screen and (max-width: 1135px) {
    .header_social.header_social_5 {
        display: block;
    }
}
@media only screen and (max-width: 959px) {
    
    .header_social.header_social_5 {
        float: none;
        margin: 0 auto;
        width: 100px;
        height: 20px;
    }
 
    .branding_fixed .header_control_v5 .header_social {
        display: block;
    } 
    .header_control_v5 .logo {
        margin-bottom: 20px!important;
    }
}


.header_control_v2 #access {
    margin-top: 22px;
    width: 960px;
    text-align: center;
}
.header_social_v2.header_social {
    display: none;
}
.header_control_v2 .menu-main-menu-container {
     margin: 0 auto;
     display: inline-block;
}
.header_control_v2 #access ul a {
    padding-bottom: 25px;
}
.header_control_v2 #access ul ul a {
     padding-bottom: 10px;
}
.branding_fixed .header_control_v2 #access {
    margin-top: 21px;
    float: right;
    width: auto;
}
.branding_fixed .header_control_v2 #access ul ul {
    top: 40px;
}
@media only screen and (max-width: 959px) {
    .header_social.header_social_v2 {
        float: none;
        margin: 0 auto;
        width: 100px;
        height: 20px;
        display: block;
    }
    .branding_fixed .header_control_v2 .header_social {
        display: block;
    } 
    .header_control.header_control_v2 {
        margin-top: 0px;
    }
    .header_control_v2 .logo {
        padding-top: 15px;
        padding-bottom: 10px;
    }
}